<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ .Csrf }}">
    <title>{{ template "title" . }}</title>
    <link href="/static/css/bootstrap.min.{{ .CacheTag }}.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.{{ .CacheTag }}.css" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "@hotwired/turbo": "/static/js/turbo.es2017-umd.{{ .CacheTag }}.js",
          "@hotwired/stimulus": "/static/js/stimulus.umd.{{ .CacheTag }}.js",
          "bootstrap": "/static/js/bootstrap.{{ .CacheTag }}.js",
          "@popperjs/core": "/static/js/popper.{{ .CacheTag }}.js"
        }
      }
    </script>
    <!-- ES Module Shims: Import maps polyfill for modules browsers without import maps support (all except Chrome 89+) -->
    <script async src="/static/js/es-module-shims.min.{{ .CacheTag }}.js" crossorigin="anonymous"></script>
    <script type="module">
      import hotwiredTurbo from '@hotwired/turbo';
      // import { Application, Controller } from "@hotwired/stimulus";
      // window.Stimulus = Application.start();
  
      // Stimulus.register("nav", class extends Controller {
      //   static targets = [ "name" ]
  
      //   connect() {
      //     console.log("Hello, Stimulus!", this.element);
      //   }
      //   greet() {
      //     const element = this.nameTarget;
      //     console.log(element)
      //     const name = element.value;
      //     console.log(name)
      //     console.log(`Hello, ${name}!`);
      //   }
      // })

      document.addEventListener("turbo:click", function(event) {
        const tabs = document.getElementsByClassName("nav-marker");
        for (var i = 0; i < tabs.length; i++) {
          if (tabs[i] === event.target) {
              tabs[i].className = "nav-marker nav-link active";
            } else {
              tabs[i].className = "nav-marker nav-link link-body-emphasis";
            }
        }
      })
    </script>
  </head>
  <body>

    <header class="py-3 mb-3 border-bottom">
      <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 5rem 1fr 4fr;">
        <div></div>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
            <li><a class="dropdown-item" href="#">Inventory</a></li>
            <li><a class="dropdown-item" href="#">Customers</a></li>
            <li><a class="dropdown-item" href="#">Products</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Reports</a></li>
            <li><a class="dropdown-item" href="#">Analytics</a></li>
          </ul>
        </div>
  
        <div class="d-flex align-items-center">
          <div class="pr-3">
            <button class="btn btn-outline-primary rounded-pill px-3" type="button">Compose</button>
          </div>
          <form class="w-100 mr-3" role="search">
            <input type="search" class="form-control w-25 mx-3" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid pb-3">
      <div class="d-grid gap-3" style="grid-template-columns: 5rem 1fr 4fr;">


        <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 5rem;">
          <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
              <a href="/" class='nav-link {{if eq .Handler "inbox" }}active{{end}} py-3 border-bottom rounded-0' aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
                <img src="/static/icons/inbox.{{ .CacheTag }}.svg" alt="inbox" width="24" height="24">
                <small>Inbox</small>
              </a>
            </li>
            <li>
              <a href="/starred" class='nav-link {{if eq .Handler "starred" }}active{{end}} py-3 border-bottom rounded-0' data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
                <img src="/static/icons/star.{{ .CacheTag }}.svg" alt="starred" width="24" height="24">
                <small>Starred</small>
              </a>
            </li>
            <li>
              <a href="/sent" class='nav-link {{if eq .Handler "sent" }}active{{end}} py-3 border-bottom rounded-0' data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Orders" data-bs-original-title="Orders">
                <img src="/static/icons/cursor.{{ .CacheTag }}.svg" alt="sent" width="24" height="24">
                <small>Sent</small>
              </a>
            </li>
            <li>
              <a href="/trash" class='nav-link {{if eq .Handler "trash" }}active{{end}} py-3 border-bottom rounded-0' data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Products" data-bs-original-title="Products">
                <img src="/static/icons/trash3.{{ .CacheTag }}.svg" alt="trash" width="24" height="24">
                <small>Trash</small>
              </a>
            </li>
          </ul>
        </div>
  
          <div>
            {{ template "main" . }}
          </div>

          <div>
            Message
          </div>

      </div>
    </div>
    
  </body>
</html>
