<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ .Csrf }}">
    <title>{{ template "title" . }}</title>
    <link href="/static/css/bootstrap.min.{{ .CacheTag }}.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.{{ .CacheTag }}.css" rel="stylesheet">
    <!-- ES Module Shims: Import maps polyfill for modules browsers without import maps support (all except Chrome 89+) -->
    <script async src="/static/js/es-module-shims.min.{{ .CacheTag }}.js" crossorigin="anonymous"></script>
    <script type="importmap">
      {
        "imports": {
          "@popperjs/core": "/static/js/popper.{{ .CacheTag }}.js",
          "bootstrap": "/static/js/bootstrap.esm.min.{{ .CacheTag }}.js",
          "@hotwired/turbo": "/static/js/turbo.es2017-umd.{{ .CacheTag }}.js",
          "@hotwired/stimulus": "/static/js/stimulus.umd.{{ .CacheTag }}.js"
        }
      }
    </script>
  </head>
  <body>
    <script type="module">
        import hotwiredTurbo from '@hotwired/turbo';
        import * as bootstrap from 'bootstrap';
        // import { Application, Controller } from "@hotwired/stimulus";
        // window.Stimulus = Application.start();

        // Stimulus.register("nav", class extends Controller {
        //   static targets = [ "name" ]

        //   connect() {
        //     console.log("Hello, Stimulus!", this.element);
        //   }
        //   greet() {
        //     const element = this.nameTarget;
        //     console.log(element)
        //     const name = element.value;
        //     console.log(name)
        //     console.log(`Hello, ${name}!`);
        //   }
        // })

        document.addEventListener("turbo:click", function(event) {
            const tabs = document.getElementsByClassName("nav-marker");
            for (var i = 0; i < tabs.length; i++) {
            if (tabs[i] === event.target) {
                tabs[i].className = "nav-marker nav-link active";
                } else {
                tabs[i].className = "nav-marker nav-link link-body-emphasis";
                }
            }
        })
    </script>

    <header class="py-3 mb-3 border-bottom">
      <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 5rem 1fr 4fr;">
        <div></div>
        <div></div>
        <div class="d-flex align-items-center">
          <div class="pr-3">
            <button class="btn btn-outline-primary rounded-pill px-3" type="button">Compose</button>
          </div>
          <form class="w-100 mr-3" action="/search" method="post" role="search">
            <input type="search" name="term" class="form-control w-25 mx-3" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/static/icons/avatar.{{ .CacheTag }}.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><form action="/sign-out" method="post"><button class="dropdown-item">Sign out</button></form></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid pb-3">
      <div class="d-grid gap-3" style="grid-template-columns: 5rem 1fr 4fr;">


        <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 5rem;">
          <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
              <a href="/inbox" class='nav-link {{if eq .Fn "inbox" }}active{{end}} py-3 border-bottom rounded-0' aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Inbox" data-bs-original-title="Inbox">
                <img src="/static/icons/inbox.{{ .CacheTag }}.svg" alt="inbox" width="24" height="24">
                <small>Inbox</small>
              </a>
            </li>
            <li>
              <a href="/starred" class='nav-link {{if eq .Fn "starred" }}active{{end}} py-3 border-bottom rounded-0' data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Starred" data-bs-original-title="Starred">
                <img src="/static/icons/star.{{ .CacheTag }}.svg" alt="starred" width="24" height="24">
                <small>Starred</small>
              </a>
            </li>
            <li>
              <a href="/sent" class='nav-link {{if eq .Fn "sent" }}active{{end}} py-3 border-bottom rounded-0' data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Sent" data-bs-original-title="Sent">
                <img src="/static/icons/cursor.{{ .CacheTag }}.svg" alt="sent" width="24" height="24">
                <small>Sent</small>
              </a>
            </li>
            <li>
              <a href="/trash" class='nav-link {{if eq .Fn "trash" }}active{{end}} py-3 border-bottom rounded-0' data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Trash" data-bs-original-title="Trash">
                <img src="/static/icons/trash3.{{ .CacheTag }}.svg" alt="trash" width="24" height="24">
                <small>Trash</small>
              </a>
            </li>
          </ul>
        </div>
  
          <div>
            <turbo-frame id="main" src="/{{ .Fn }}">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </turbo-frame>
          </div>

          <div>
            Message
          </div>

      </div>
    </div>
    

    <script>
      (() => {
    'use strict'
     
    // custom turbo action
    addEventListener("turbo:before-stream-render", ((event) => {
      const fallbackToDefaultActions = event.detail.render
      event.detail.render = function (streamElement) {
        if (streamElement.action == "redirect") {
          window.location.href = streamElement.target;
        } else {
          fallbackToDefaultActions(streamElement)
        }
      }
    }))
    
    })()
    
    </script>
  </body>
</html>
