<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ template "title" . }}</title>
    <link href="/static/css/bootstrap.min.{{ .CacheTag }}.css" rel="stylesheet">
    <!-- ES Module Shims: Import maps polyfill for modules browsers without import maps support (all except Chrome 89+) -->
    <script async src="/static/js/es-module-shims.min.{{ .CacheTag }}.js" crossorigin="anonymous"></script>
    <script type="importmap">
      {
        "imports": {
          "@hotwired/turbo": "/static/js/turbo.es2017-umd.{{ .CacheTag }}.js"
        }
      }
    </script>
    <script type="module">
      import hotwiredTurbo from '@hotwired/turbo';
    </script>
  </head>
    {{ template "body" . }}
</html>
